.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Control {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.Inputfile + label {
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(218, 92, 92);
  display: inline-block;
  cursor: pointer;
  margin-right: 1rem;
  border-radius: 3px;
}

.Inputfile:focus + label,
.Inputfile + label:hover {
}
